* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.7rem;
    background: #f3f3f3;
}


/* category color */

.sport {
    display: inline-block;
    background-color: orange;
    text-transform: uppercase;
    line-height: 1rem;
    padding: 5px;
    border-radius: 50px;
    margin-bottom: 10px;
    color: white;
    font-size: 0.60rem;
}

.entertainment {
    display: inline-block;
    background-color: purple;
    text-transform: uppercase;
    line-height: 1rem;
    padding: 5px;
    border-radius: 50px;
    margin-bottom: 10px;
    color: white;
    font-size: 0.60rem;
}

.tech {
    display: inline-block;
    background-color: dodgerblue;
    text-transform: uppercase;
    line-height: 1rem;
    padding: 5px;
    border-radius: 50px;
    margin-bottom: 10px;
    color: white;
    font-size: 0.60rem;
}

.card {
    background: #fff;
    padding: 1rem;
}

.club {
    display: block;
    text-align: center;
    width: 100%;
}

.dark {
    color: white;
    background: #333;
    padding: 10px;
}

.dark a {
    color: white;
}

.red {
    color: white;
    background: rgb(146, 7, 7);
}

.red a {
    color: white;
}


/***************
 about page
  ***************/

.page-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 1rem;
    margin: 2rem 0;
}

.page-container>*:first-child {
    grid-row: 1 / span 3;
}


/* article page */

.meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #444;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.card .article-h1 {
    font-weight: 900;
    padding: 10px 0;
    text-transform: uppercase;
}

.email {
    font-size: 1rem;
    font-weight: 900;
    color: darkred;
}

.meta .entertainment {
    margin-top: 10px;
}

.cat-aside ul {
    list-style: none;
    padding: 10px;
}

.cat-aside li {
    border-bottom: 1px dotted #333;
    padding: 5px 0;
}

.cat-aside li a {
    font-weight: 700;
}

.cat-aside li a:hover {
    color: darkred;
}

.cat-aside h2 {
    font-weight: 900;
    text-transform: capitalize;
}


/***************
 Navbar
  ***************/

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1100px;
    overflow: hidden;
    margin: auto;
    padding: 0 2rem;
}

#main-nav {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container {
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
}

#main-nav .container img {
    width: 180px;
}

#main-nav .container .socials {
    justify-self: end;
    padding: 0 20px;
}

#main-nav .container .socials i {
    margin-right: 10px;
}

#main-nav .container .socials #facebook:hover {
    color: rgb(5, 43, 158);
    transition: all ease-in-out 0.4s;
}

#main-nav .container .socials #twitter:hover {
    color: rgb(96, 130, 233);
    transition: all ease-in-out 0.4s;
}

#main-nav .container .socials #instagram:hover {
    color: rgb(225, 65, 73);
    transition: all ease-in-out 0.4s;
}

#main-nav .container .socials #youtube:hover {
    color: red;
    transition: all ease-in-out 0.4s;
}

#main-nav .container ul {
    display: flex;
    justify-self: end;
    cursor: pointer;
}

#main-nav .container ul li {
    margin-right: 10px;
}

#main-nav .container ul li .current {
    background: rgb(204, 15, 15);
    padding: 10px;
    color: #fff;
}

#main-nav .container ul li .current:hover {
    border-radius: 5px;
    transition: all ease-in-out 0.4s;
}


/***************
 End navbar 
 ***************/


/***************
ShowCase
 ***************/

.showcase {
    color: #fff;
    background: #333;
    padding: 20px;
    position: relative;
}

.showcase:before {
    content: '';
    background: url(../img/featured.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.showcase .showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.showcase .showcase-content {
    z-index: 2;
}

.showcase .showcase-content P {
    padding: 10px;
}

.showcase .showcase-content a {
    background: rgb(204, 15, 15);
    color: #f3f3f3;
    padding: 10px;
}

.showcase .showcase-content a:hover {
    background: rgb(146, 7, 7);
    cursor: pointer;
    transition: 0.5s all ease-in;
}


/***************
End ShowCase
 ***************/

#home-articles .article-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 20px;
}

#home-articles .article-container>*:first-child,
#home-articles .article-container>*:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 1rem;
    grid-column: 1 /span 2;
}

#home-articles .article-container>*:last-child {
    grid-column: 2 /span 2;
}

#home-articles h2 {
    padding: 0 20px;
    margin-top: 10px;
    font-weight: 900;
}


/***************
footer
 ***************/

#main-footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

#main-footer img {
    width: 150px;
}

#main-footer a {
    color: #fff;
}

#main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

#main-footer .footer-container p {
    padding: 10px;
}

#main-footer .footer-container>*:last-child {
    background: #444;
    grid-column: 1/span 4;
    text-align: center;
    font-size: 0.75rem;
}

#main-footer .footer-container input[type='email'] {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type='submit'] {
    width: 90%;
    height: 40px;
    background: rgb(204, 15, 15);
    border: none;
    color: #fff;
    font-size: 0.90rem;
    cursor: pointer;
}

#main-footer .footer-container input[type='submit']:focus {
    outline: none;
}

#main-footer .footer-container ul {
    list-style: none;
}

#main-footer .footer-container li {
    width: 100%;
    border-bottom: 1px dotted #444;
    padding: 5px;
}

#main-footer .footer-container li a:hover {
    color: darkred;
}

#main-footer .footer-container .join {
    background: orange;
    padding: 10px 20px;
}

#main-footer .footer-container .join:hover {
    background: darkorange;
    cursor: pointer;
}